/* Style Variables */
:root {
  /* theme from https://www.color-hex.com/color-palette/98179 dark theme */
  --white: #fff;
  --purple: #d99be9;
  --gray-1: #c0c0c0;
  --gray-2: #3e3e42;
  --gray-3: #2d2d30;
  --black-1: #252526;
  --black-2: #1e1e1e;
  --box-shadow: 0 1px 4px 0px rgb(0 0 0 / 20%);
}

/* Navbar styles */
.App-header {
  background-color: var(--black-2);
  box-shadow: 0 1px 8px var(--black-2);
}

.App-header a {
  color: var(--gray-1);
  font-family: 'Roboto', sans-serif;
}

.App-header a:hover {
  color: var(--white);
}

a.navbar-brand {
  font-size: 35px;
  font-weight: 700;
}

a.nav-link {
  font-size: 20px;

}

.navbar-nav ul {
  background: var(--black-2);
  border: none;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewbox='0 0 30 30'%3e%3cpath stroke='rgba%28169, 169, 169, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22' /%3e%3c/svg%3e");
}

.navbar-light .navbar-toggler {
  border-color: var(--gray-2);
}

/* About page styles */
.card {
  max-width: 90%;
  margin-bottom: 15px;
  border: none;
}

.card-title {
  font-size: 30px;
}

.card-text {
  font-size: 20px;
}

.dark-background {
  background: var(--black-1);
  color: var(--gray-1);
}

/* Projects styles */
.projects {
  max-width: 90%;
}

a.dropdown-item:hover {
  background: var(--gray-3);
}

.projects button {
  background: var(--purple);
  border: var(--purple);
}

.projects button:hover {
  background: var(--black-2);
  border: var(--black-2);
}

.projects-header {
  color: var(--gray-1);
  text-align: center;
  font-size: 200%;
}

/* Contact styles */
form.contact-form {
  background: var(--black-1);
  color: var(--gray-1);
  max-width: 75%;
}

input.form-control {
  background: var(--gray-2);
  border: none;
  color: var(--white);
}

#message {
  height: 100px;
  display: inline-block;
  vertical-align: top;
}

.form-contact-email button {
  background: var(--purple);
  border: var(--purple);
}

.form-contact-email button:hover {
  background: var(--black-2);
  border: var(--black-2);
}

/* Resume styles */
.resume {
  max-width: 80%;
}

.resume h2 {
  color: var(--gray-1);
  text-align: center;
  font-size: 200%;
}

.download-btn button {
  background: var(--purple);
  border: var(--purple);
}

.download-btn button:hover {
  background: var(--black-2);
  border: var(--black-2);
}

/* Footer styles */
.page-footer {
  margin-top: 15px;
  background: var(--gray-2);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer-copyright {
  color: var(--gray-1);
  font-size: 18px;
}